// Example for how to use it: map-get(map-get($colors, Primary), 500);
$colors: (
    Primary: (
        50: #E6ECF9,
        100: #D2DCF4,
        200: #A1B5E8,
        300: #7491DD,
        400: #426BD1,
        500: #2B50B0,
        600: #22408B,
        700: #1A316B,
        800: #0B1038,
        900: #091125
    ),
    
    Secondary: (
        50: #F1F0FA,
        100: #E2E1F4,
        200: #C5C3EA,
        300: #A9A5DF,
        400: #8E88D5,
        500: #716ACA,
        600: #4840B5,
        700: #363087,
        800: #24205A,
        900: #12102D
    ),

    Black: (
        50: #FFFFFF,
        100: #E8E8E8,
        200: #A7AEBE,
        300: #596FA6,
        400: #283B6C,
        500: #091125,
        600: #121B30,
        700: #1E2638,
        800: #303440,
        900: #434342
    ),

    Green: (
        50: #EBFAF7,
        100: #D7F4EE,
        200: #ABE8DC,
        300: #83DDCB,
        400: #57D1B9,
        500: #34BFA3,
        600: #299882,
        700: #207463,
        800: #153C41,
        900: #0B2822
    ),
    
    Red: (
        50: #FEECEC,
        100: #FDDDDE,
        200: #FBBCBE,
        300: #f89699,
        400: #f67478,
        500: #f45358,
        600: #f0141b,
        700: #b60c11,
        800: #7d080c,
        900: #3e0406
    )
)