@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import 'partials/variables';

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;

    h1,
    h2,
    h3,
    h4 {
        font-weight: 700;
    }

    h1 {
        font-size: 72px;
    }

    h2 {
        font-size: 48px;
    }

    h3 {
        font-size: 32px;
    }

    h4 {
        font-size: 24px;
    }

    p {
        font-size: 18px;
        font-weight: 400;

        &.big {
            font-size: 24px;
        }

        &.small {
            font-size: 16px;
        }
    }

    u {
        cursor: pointer;
    }

    input {
        background-color: #F8FAFC;
        border-radius: 10px;
        padding: 12px;
        font-size: 18px;
        font-weight: 400;
        color: #B8BCCA;
        border: none;
    }

    textarea {
        resize: none;

        &::placeholder {
            font-family: "Nunito", sans-serif;
            font-size: 18px;
            font-weight: 400;
            color: #B8BCCA;
        }
    }

    ul {
        list-style-type: none;
        
        a {
            text-decoration: none;
        }
    }

    button {
        font-family: "Nunito", sans-serif;
        font-weight: 700;
        font-size: 14px;
        border-radius: 15px;
        padding: .8rem 1.5rem;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        cursor: pointer;

        &.small {
            font-size: 12px;
            padding: 1rem;
        }
    }

    .container {
        width: 85%;
        margin: auto;
    }

    .bold {
        font-weight: 700;
    }

    @media screen and (max-width: 767px) {
        .desktop {
            display: none;
        }

        .container {
            width: 100%;
        }
    }
    
    @media screen and (min-width: 768px) {
        .mobile {
            display: none;
        }
    }
}